/* formulario cadastro */

#formCadastroAluno {
    max-width: 700px;
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

#formCadastroAluno input,
#formCadastroAluno select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formCadastroAluno h3 {
    margin-top: 15px;
    color: #730639;
}

#formCadastroAluno button {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #730639;
    color: white;
    cursor: pointer;
}

#formCadastroAluno button:hover {
    background-color: #D92588;
}
/* responsividade */

@media (max-width: 768px) {

    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        min-height: auto;
    }

    .sidebar nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .sidebar nav li {
        flex: 1;
        min-width: 130px;
        text-align: center;
    }

    .header {
        padding: 15px 20px;
    }

    .content {
        padding: 20px;
    }

    #formCadastroAluno {
        width: 100%;
    }

}